.projContainer {
  padding: 0% 5% 4% 5%;
  position: relative;
  overflow: hidden;
}

#projImg {
  height: 78%;
  width: 100%;
  transition: 0.7s;
  border: solid black;
  box-shadow: 20px;
  margin-bottom: 0%;
  background-color: #c2d897;
  box-shadow: 1px 3px 5px black;
  border-radius: 2%;
}

#projImg:hover {
  transform: scale(0.9);
}

.row {
  background-color: #c2d897;
  position: relative;
}
.row2 {
  background-color: #c2d897;
  width: 100vw;
  position: relative;
}

.row p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
}



@media only screen and (max-width: 600px) {
  .projContainer {
    padding:4% 2% 9% 2%;
    position: relative;
    overflow: hidden;
    padding-bottom: 9%;
  }

  .col-sm{
    margin-bottom: 1rem;
  }
  .col-sm p{
    font-size: 1em;
  }

  #row2{
    padding: 0;
  }

}

