.projContainer {
  margin: 4% 2% 0 2%;
}

#projImg {
  max-width: 100%;
  max-height: 100%;
  transition: 0.7s;
  border: solid black;
  box-shadow: 20px;
}
#projImg {
  height: 80%;
  width: 100%;
  transition: 0.7s;
  border: solid black;
  box-shadow: 20px;
  margin-bottom: 0%;
}

#projImg:hover {
  transform: scale(1.1);
}

.row{
  background-color: #EEF4D4;
}
.row p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
  /* margin-top: 2%; */
  font-family: 'Zen Kurenaido', sans-serif;
  font-weight: bold;
}



