
.projContainer {
  padding: 4% 2% 0 2%;
  position: relative;
  padding-bottom: 7%;
  overflow: hidden;
  
}


#projImg {
  height: 80%;
  width: 100%;
  transition: 0.7s;
  border: solid black;
  box-shadow: 20px;
  margin-bottom: 0%;
  background-color: #C2D897;
  box-shadow: 1px 3px 5px black;
 
}

#projImg:hover {
  transform: scale(0.9);
}

.row {
  background-color: #C2D897;
  position: relative;
 
}
.row2 {
  background-color: #C2D897;
  width: 100vw;
  position: relative;
  
}

.row p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
  font-family: 'Zen Kurenaido', sans-serif;
  font-weight: bold;
}



