#aboutImage {
  height: 22rem;
  width: 25rem;
  border-radius: 50%;
  box-shadow: 2px;
}

.about-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* height:100vh; */
}

.aboutContainer {
  display: flex;
  width: 85%;
  flex-wrap: wrap;
}

.aboutTxt {
  font-size: 26px;
  margin-top: 1%;
  text-align: center;
}

section {
  margin-top: 2%;
  height: 100vh;
}

.about-main {
  background-color: #eef4d4;
}

@media only screen and (max-width: 600px) {
  #aboutImage {
    height: 20rem;
    width: 22rem;
    border-radius: 50%;
  }

  .aboutTxt {
    font-size: 24px;
    margin-top: 5%;
  }
}


