


#aboutImage{
    margin: 0%;
    height: 65%;
    width: 25%;
}

.aboutContainer{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}

.aboutTxt{
    font-size: 24px;
}

section{
    margin-top: auto;
    background-color: #EEF4D4;
}