


#aboutImage{
    height: 25rem;
    width: 27rem;
    border-radius: 50%;
}

.aboutContainer{
    display: flex;
    width: 85%;
    flex-wrap: wrap;
    
}

.aboutTxt{
    font-size: 26px;
    margin-top: 1%;
    text-align: center;
}

section{
    margin-top: 2%;
}
