
@font-face {
  font-family: myFirstFont;
  src: url("../../assets/fonts/TS-Block-Bold.ttf");
}


.container h1 {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  font-family: myFirstFont;
  font-size: 45px;
  border: solid #EEF4D4;
  border-style: dashed;
  border-width: 10px;
}

.container h1:hover{
  color: #EEF4D4;
  border: solid black;
  border-style: dashed;
  border-width: 10px;
}

.container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin-top: 15%;
  /* align-items: center; */
}

.description{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: black;
  border-width: 10px;
  width: 100;
}
.description p{
  font-family: myFirstFont;
}

p{
  display: flex;
  justify-content: center;
}
