
@font-face {
  font-family: myFirstFont;
  src: url("../../assets/fonts/TS-Block-Bold.ttf");
}

.home-container{
background-color:#C2D897;
height: 100vh;
width: 100vw;
}


.title h1 {
  overflow:scroll;
  display: flex;
  flex-wrap: wrap;
  font-family: myFirstFont;
  font-size: 6vw;
  border: solid #EEF4D4;
  border-style: dashed;
  border-width: 10px;
}

.title h1:hover{
  color: #EEF4D4;
  border: solid black;
  border-style: dashed;
  border-width: 10px;
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 15%;
  width:100%;

}

.description{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
  color: black;
  border-width: 10px;
  width: 100vw;
  margin: 0%;
}
.description p{
  font-family: myFirstFont;
  font-size: 2vw;
  color: black;
}

@media only screen and (max-width:  ) {
  
}

@media only screen and (max-width: 600px) {
  
  .description p{
    font-size: 10px;
  }

  .title{
    padding-top: 30%;
  }



}
