* {
  
}

@font-face {
  font-family: myFirstFont;
  src: url("../../assets/fonts/TS-Block-Bold.ttf");
}

.container h1 {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  font-family: myFirstFont;
  font-size: 42px;
  border: solid black;
}

.container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin-top: 15%;
  /* align-items: center; */
}
