section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: navItems;
  width: 100%;
}

#field{
  width: 50%;
}

textarea{
  width: 100%;
}

input{
  width: 100%;
}

label{
  font-family: navItems;
}
