footer{
    right: 0;
    bottom: 0;
    position: fixed;
}

#footerContainer{
    display: flex;
    justify-content:center;
    bottom: 0;
    width: 100vw;
} 

.footerImg {
    font-size: 10px;
    height: 32px;
    width: 32px;
    color: black;

}

.footerImg:hover{
    border: solid beige;
    border-width: 3px;
    border-style: dashed;
}
