html{
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0%;
  font-family: 'Zen Kurenaido', sans-serif;
  
}

.App {
  height: 100%;
  width: 100%;
}




.mx-2 {
  color: white;
  text-decoration: none;
  font-size: large;
  
}


p {
  display: flex;
  justify-content: center;
  align-items: center;
}


#row2{
  margin-top: 10%;
}

/* .App{
  background-color: #A59132;
} */
