* {
  margin: 0%;
}

nav {
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: #E5EAFA;
  font-family: 'Zen Kurenaido', sans-serif;
}

nav a.active {
  color: #BF4E30;
  text-decoration: none;
  font-size: 20px;
  /* border: solid beige;
  border-radius: 15%;
  border-spacing: 20%; */
}

nav a.inactive {
  color: #EEF4D4;
  text-decoration: none;
  font-size: 10px;
}

nav a:hover {
  color: black;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
}

.mx-2 {
  color: white;
  text-decoration: none;
  font-size: large;
  
}

#contactWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

#projImg{
  width: 100%;
  height: auto;
}