.navbar {
  /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
  /* background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(28, 26, 26) 100%); */
  /* height: 50px; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky !important;
  top: 0;
  z-index: 999; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 0 !important;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
}

/* #logo {
  max-width: 15%;
  max-height: 15%;
  color: white
} */

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
}

.navbar-logo {
  color: white;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: center;
  margin-right: 1rem;
  margin-top: 15px;
}

.nav-item {
  height: auto;
}

.nav-links {
  color: cornsilk;
  font-size: 2rem;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 100;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0rem 1rem 0rem 1rem;
  /* height: 100%; */
}

.nav-links:hover {
  /* border-bottom: 1px solid #fff; */
  transition: all 0.1s ease-out;
  text-decoration: none;
  border: solid 1px cornsilk;
  /* font-family: myFirstFont; */
}

.fa-bars {
  color: cornsilk;
  font-size: 1.25rem;
  padding-right: 7px;
}

.nav-links-mobile {
  display: none;
  color: cornsilk;
}

.nav-links.active {
  text-align: center;
  width: 100%;
  height: auto;
  display: table;
  color: cornsilk;
  border: solid lightblue;
}

.menu-icon {
  display: none;
}

.active {
  font-family: myFirstFont;
  color: #eef4d4;
}

@media screen and (max-width: 920px) {
  #logo {
    padding-top: 3%;
    max-width: 25%;
    max-height: 25%;
  }
}

@media screen and (max-width: 541px) {
  #logo {
    padding-top: 3%;
    max-width: 25%;
    max-height: 25%;
  }
}

@media screen and (max-width: 768px) {
  .NavbarItems {
    position: relative;
  }

  #logo {
    max-width: 25%;
    max-height: 18%;
    padding-top: 5%;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    justify-content: flex-start;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 66px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  /* mobile menu container */
  .nav-menu.active {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(
      90deg,
      rgb(28, 27, 27) 0%,
      rgb(26, 23, 23) 100%
    );
    height: 80vh;
    left: 0;
    z-index: 1;
    padding: 0;
    margin: 0;
  }

  .nav-links {
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    height: auto;
    display: table;
    color: #eef4d4;
  }

  .nav a.active {
    border: solid lightblue;
  }

  .nav-links:hover {
    background-color: #eef4d4;
    color: #eef4d4;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(25%, 50%); */
  }

  .menu-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    /* top: 0; */
    right: 0;
  }

  .fa-times {
    color: #eef4d4;
    font-size: 1.25rem;
    padding-right: 7px;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    /* background-color: black; */
    color: #eef4d4;
    padding: 14px 20px;
    border: 1px solid #eef4d4;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    color: #eef4d4;
    transition: 250ms;
  }

  .navbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100vw;
  }
}

/* @media screen and (min-width: 820px) {

  
} */

/* #navItems {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 0%;
}
@font-face {
  font-family: navItems;
  src: url("../../assets/fonts/Heavitas.ttf");
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Zen Kurenaido", sans-serif;
}



nav a.inactive {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  color: black;
  font-family: myFirstFont;
  font-size: 15px;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
}

.mx-2 {
  text-decoration: none;
  font-size: large;
} */

nav a.active {
  color: cornsilk;
  text-decoration: none;
  font-size: 30px;
  border: solid lightblue;
  border-width: 2px;
}
