#navItems {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 0%;
}
@font-face {
  font-family: navItems;
  src: url("../../assets/fonts/Heavitas.ttf");
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Zen Kurenaido", sans-serif;
}

nav a.active {
  color: black;
  text-decoration: none;
  font-size: 22px;
  border: solid black;
  border-width: 2px;
}

nav a.inactive {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  color: black;
  font-family: myFirstFont;
  font-size: 15px;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
}

.mx-2 {
  /* color: white; */
  text-decoration: none;
  font-size: large;
}
